/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}
.brand-logo img{
  height: 50px;
  margin: 7px;
}

p {
  line-height: 2rem;
}

.hidden {
  display: none !important;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 480px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255, .95);
}
.parallax-container .section {
  width: 100%;
}
.parallax{
  filter: blur(2px);
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  h1{
    font-size: 2.8rem;
  }
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.parallax img{
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
  -moz-filter: brightness(75%);
  -o-filter: brightness(75%);
  -ms-filter: brightness(75%);
}

/*blinker*/
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.1; }
}

.icon-small {
  height: 16px;
  width: 16px;
}

input.url-to-test{
  background-color: rgba(255,255,255,0.93);
  width: 50%;
  color: black;
  padding-left: 10px; 
  padding-right: 10px; 
}
.url-warning-msg{
  height: 20px;
  visibility: hidden;
}


@media only screen and (max-width : 992px) {
  input.url-to-test{
    width: 85%;
  }
}